<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hex Trader</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    

  </head>
  <body>
    <script src="static/scripts/hex_trader.js"></script>
  </body>
</html>